<div class="main">
  <div class="score-board">
    <h1>Colour Memory</h1>
    <p class="points">Points: {{ points }}</p>
  </div>
  @if(shuffledDeck.length !== 0){
  <div class="game-board">
     @for (card of shuffledDeck;track card){
    <div class="card" (click)="selectCard(card)">
      @if(card.isRevealed){ @switch(card.colour){ @case("spade"){
      <img src="spades-2-of-playing-cards-svgrepo-com.svg" class="svg-icon" />
      } @case("clover"){
      <img src="playing-card-clover-2-svgrepo-com.svg" class="svg-icon" />
      } @case("diamond"){
      <img src="playing-card-diamond-2-svgrepo-com.svg" class="svg-icon" />
      } @case("heart"){
      <img src="playing-cards-heart-4-svgrepo-com (5).svg" class="svg-icon" />
      } } }
    </div>
    } 
  </div>
}
  @if(shuffledDeck.length === 0){
  <div class="play-game-banner">
    <p>Do you wish to play again?</p>
    <button class="colour-memory-btn" (click)="playAgain()">Play Game</button>
  </div>
  }
</div>
